body {
    margin: 0;
}

#big {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#navbar > h3 {
    font-size: 14px;
    margin-left: 120px;
    font-weight: bold;
}

#nav-links > p {
    font-size: 14px;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #F9FAFB;
}

#navbar {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAFB;
    display: flex;
    justify-content: space-between;
}

#nav-links {
    background-color: #1F2937;
    color: #F9FAFB;
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-right: 100px;
}

#big-text {
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 0px;
}

#small-text {
    font-size: 14px;
    font-style: 'light italic';
    margin-bottom: 10px;
}

#smaller-awesome > form > input {
    border-radius: 14%;
    color: white;
    border: none;
    padding: 6px;
}

#awesome-button:hover {background-color: #3e8e41}

#awesome-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#smaller-awesome {
    background-color: #1F2937;
    font-size: 48px;
    color: #F9FAFB;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 40px;
}

#awesome {
    background-color: #1F2937;
    font-size: 48px;
    color: #F9FAFB;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 40px;
    margin-bottom: 40px;
}

.awesome {
    margin-left: 40px;
}

#bigger-awesome {
    background-color: #1F2937;
}

#call {
    background-color: #3882F6;
    display: flex;
}

#quote {
    font-size: 36px;
    font-style: 'light italic';
    color: #1F2937;
    display: flex;
}

#footer {
    background-color: #1F2937;
    display: flex;
}

#random > h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#random {
    display: flex;
    flex-direction: column;
}

#random-text {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

#randomize {
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px; 
}

#img-span {
    display: flex;
    flex-direction: row;
}

#text-span {
    display: flex;
    flex-direction: row;
}

#img-awesome {
    width: 300px;
    margin-left: 300px;
    margin-right: 50px;
}

.img-class {
    max-width: 100%;
    height: auto;
}

.random-img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

#quote > h3 {
    font-size: 36px;
    font-family: 'italic';
    font-weight: light;
    color: #1f2937;
}

#quote > p {
    font-size: medium;
    font-weight:300;
}

#quote {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
    background-color: #E5E7EB;
}

#bigger-quote {
    margin-top: 40px;
    background-color: #E5E7EB;
    margin-bottom: 40px;
}

#call {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content:center;
    padding: 30px;
    border-radius: 20%;
    font-size:large;
    font-weight: bold;
}

#button-call {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-right: 30px;
    font-size:large;
    font-weight: bold;
}

#call-text {
    display: flex;
    flex-direction: column;
}

#footer {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#1F2937;
}

#bigger-footer {
    background-color:#1F2937;
    margin-bottom: 30px;
}

#bigger-call {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    background-color: white;
}