body {
    margin: 0 auto;
}

#big {
    display: flex;
    flex-direction: column;
}

#navbar > h3 {
    font-size: 14px;
    margin-left: 120px;
    font-weight: bold;
}

#nav-links > p {
    font-size: 14px;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #F9FAFB;
}

#navbar {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAFB;
    display: flex;
    justify-content: space-between;
}

#nav-links {
    background-color: #1F2937;
    color: #F9FAFB;
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-right: 100px;
}

#big-text {
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 0px;
}

#small-text {
    font-size: 14px;
    font-style: 'light italic';
    margin-bottom: 10px;
}

#smaller-awesome>input {
    margin-bottom: 0px;
    border-radius: 14%;
    color: white;
    border: none;
    padding: 6px;
}

#smaller-awesome {
    background-color: #1F2937;
    font-size: 48px;
    color: #F9FAFB;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 40px;
}

#awesome {
    background-color: #1F2937;
    font-size: 48px;
    color: #F9FAFB;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 40px;
    margin-bottom: 40px;
}

.awesome {
    margin-left: 40px;
}

#bigger-awesome {
    background-color: #1F2937;
}

#img-div {
    margin-left: 250px;
    padding: 30px;
    width: 350px;
}

img {
    margin-left: 10%;
    max-width: 100%;
    height: auto;
}

#call {
    background-color: #3882F6;
    display: flex;
}

#quote {
    font-size: 36px;
    font-style: 'light italic';
    color: #1F2937;
    display: flex;
}


#footer {
    background-color: #1F2937;
    display: flex;
}

#random > h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#random {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 100px;
}

#randomize {
    display: flex;
    flex-direction: row;
}

#random-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.border-span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}